*{

	margin:0;
	padding:0;
}

body{

	font-family: Arial, Sans-serif;
	font-size: 13px;
}

#container{

	width: 580px;
	margin:140px auto 0;
	text-align: center;

}

h1#logo{

	width: 269px;
	height: 95px;
	background: url(googlelogo_color_272x92dp.png) top left no-repeat;
	background-size: 100%;
	margin:0 auto;
	text-indent:-9999px;  /*googleစာသားကိုေဖ်ာက္ပစ္*/

}

input[type="text"]{
	width: 566px;
	padding: 7px;
	margin:20px 0 18px;
	border:solid 1px #ccc;

}
input[type="text"]:hover{

	border:solid 1px #aaa;
}

input[type="submit"]{

	background: :#eee;
	color: #777;
	border:1px solid #ccc;
	padding:5px;
	font-size: 11px;
	font-weight: bold;
	margin:0 7px;

}

input[type="submit"]:hover{

	cursor: pointer;
	border-color:#aaa;


}

small{

	display: block;
	margin:10px 0 0;
}

nav#header{

	text-align: right;
	padding: 20px;


}

nav#header ul li{

	display: inline;

}

nav#header ul li a:link, 
nav#header ul li a:visited,
footer ul li a:link,
footer ul li a:visited{

	color:#555;
	text-decoration: none;
	padding: 10px;
}

nav#header ul li a:hover,
footer ul li a:hover{
	text-decoration: underline;
}

footer{

	background:#eee;
	width: 100%;
	position: fixed;
	bottom: 0px; /*footer bar ကို ေအာက္ေျခကေနေပၚမယ္*/

	
}

footer nav{

	padding: 10px;
}

footer ul li{

	display: inline;

}

footer nav ul{

	float: left;

}

footer nav ul.right-link{

	float: right;
}

.clearfix:after{
	content: "";
	clear: both;
	display: table;
}

nav#header ul li a#signin{

	background: blue;
	padding:5px 7px;
	color: white;
	font-weight: bold;
	border-radius: 3px;
}

.material-icons{

	vertical-align: middle;
}